.container {
  width: 100%;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  margin: 150px auto 150px auto;

  color: white;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}

.cards {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;

  align-items: center;
}

.column {
  min-height: 200px;

  display: flex;
  flex-direction: column;

  gap: 10px;
}

.card {
  border-radius: 10px;
  padding: 20px;

  display: flex;

  flex-direction: column;
  justify-content: space-around;
}

.primero {
  min-height: 130px;

  background: linear-gradient(
    141deg,
    rgba(62, 19, 143, 1) 0%,
    rgba(31, 187, 216, 1) 100%
  );
}

.segundo {
  min-height: 100px;
  background: rgb(33, 170, 208);
  background: linear-gradient(
    36deg,
    rgba(33, 170, 208, 1) 0%,
    rgba(158, 89, 252, 1) 100%
  );
}

.tercero {
  opacity: 0;
  min-height: 60px;
}

.cuarto {
  height: 40px;
  opacity: 0;
}

.quinto {
  background: rgb(45, 21, 178);
  background: linear-gradient(
    36deg,
    rgba(45, 21, 178, 1) 0%,
    rgba(106, 86, 230, 1) 85%
  );
  min-height: 40px;
}

.sexto {
  background: rgb(62, 19, 143);
  background: linear-gradient(
    36deg,
    rgba(62, 19, 143, 1) 0%,
    rgba(144, 53, 114, 1) 85%
  );
  min-height: 100px;
}

.textDo {
  min-height: 200px;

  width: 95%;
  margin: auto;
}

.barContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: gray;
  font-size: 1.6rem;
}

.bar {
  width: 20px;
  height: 1px;
  background: red;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.text {
  font-size: 1.6rem;
  margin: 0;
}

@media (max-width: 400px) {
  .displayNone400px {
    display: none;
  }
}
