.projectsContainer {
  width: 90%;
  min-height: 300px;
  margin: 40px auto;
}

.mosaicos {
  margin: auto;
  width: 95%;
  max-width: 700px;
  height: 400px;
  display: grid;
  grid-template-areas:
    "uno dos dos dos"
    "tres tres cuatro cuatro"
    "cinco cinco cinco cinco";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.card {
  display: flex;

  min-height: 100px;
  overflow: hidden;
}

.uno {
  grid-area: uno;
}

.dos {
  grid-area: dos;
}
.tres {
  grid-area: tres;
}
.cuatro {
  grid-area: cuatro;
}
.cinco {
  grid-area: cinco;
}

.img {
  height: auto;
  width: 100%;
}

.containerLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line {
  width: 40px;
  height: 1px;
  background: red;
  margin-right: 10px;
}

.titleH2 {
  font-size: 2.2rem;
  margin: 0;
  color: white;
}

.textProject {
  color: gray;
  width: 70%;
  font-size: 1.6rem;
}
