.projectsContainer {
  width: 100%;
  padding: 5%;
  min-height: 300px;
  margin: 40px auto;

  display: flex;
  flex-direction: column;

  min-height: 500px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}

.mosaicos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;

  height: 100px;
  overflow: hidden;
}

.img {
  height: 100%;
  width: auto;
}

.containerLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line {
  width: 40px;
  height: 1px;
  background: red;
  margin-right: 10px;
}

.titleH2 {
  font-size: 2.2rem;
  margin: 0;
  color: white;
}

.textProject {
  color: white;
  width: 70%;
  font-size: 1.6rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background: rgba(255, 255, 255, 0.1);
  transition: all 0.4s;
  padding: 5px 0;
}

.flexRow:hover {
  background: rgba(65, 34, 240, 0.1);
}
