.containerBtn {
  width: auto;
  position: fixed;
  right: 10%;
  bottom: 10%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  font-size: 2rem;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
