.btnContainer {
  padding: 10px 20px;
  background: transparent;
  color: #fd1024;
  border: 1px solid #fd1024;
  border-radius: 5px;

  transition: all 0.5s;

  cursor: pointer;
}

.btnContainer:hover {
  background: #fd1024;
  color: white;
}
