.containerSkill {
  width: 100%;
  min-height: 300px;

  padding: 5%;

  display: grid;

  gap: 20px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}

.containerImg {
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.img {
  height: 50px;
  width: auto;
}

.titleH4 {
  font-size: 2rem;
  color: white;
  margin: auto;
}

.rowSkill {
  margin: 0;

  padding: 10px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.3);

  transition: all 0.3s;
}

.rowSkill:hover {
  background: rgb(83, 80, 255);
}

.containerText {
  width: 90%;
  margin: auto;
  height: auto;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  color: white;
}

.containerLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.line {
  width: 40px;
  height: 1px;
  background: red;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.titleH2 {
  font-size: 2rem;
  margin: 0;
}

.textP {
  font-size: 1.6rem;

  margin: 0;
}
