.ContainerAbout {
  min-height: 400px;
  width: 100%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  margin: 120px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.textoAboutMe {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bar {
  width: 30px;
  height: 1px;
  background: red;
  margin-right: 10px;
}

.titleH4 {
  font-size: 3rem;
  color: white;
  margin: 0;
}

.textP {
  font-size: 1.8rem;
  color: white;
  margin: 20px 0;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  padding: 0;
}

.ul {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
}

.circle2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid red;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle1 {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}

.cvBtn {
  color: red;
  text-decoration: underline;
  font-size: 1.6rem;
  background: transparent;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.cvBtn:hover {
  color: white;
}

.containerImg {
  min-height: 200px;
  width: 100%;
  position: relative;
}

.picture {
  overflow: hidden;
}

.picture1 {
  position: absolute;
  width: 40%;
  height: auto;

  bottom: 0;
  left: 10%;
  z-index: 10;

  border-radius: 0 20%;
}

.picture2 {
  position: absolute;
  width: 60%;
  height: auto;

  top: 0;
  right: 10%;
  z-index: 0;

  border-radius: 20% 0;
}
.img2 {
  width: 120%;
  height: auto;
}
