.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;

  overflow: hidden;
  background: black;
}

.title {
  font-size: 2.4rem;
  color: white;
  font-weight: 400;

  margin: 0;
}

.listLink {
  list-style: none;
  padding: 0%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link {
  cursor: pointer;

  color: white;
  transition: all 0.3s;
  font-size: 1.2rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.link:hover {
  color: #fd1024;
}

.linkBarBase {
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 0%;
  background: #fd1024;
  transition: all 0.4s;
}

.linkBarActive {
  width: 100%;
}

.btnHamburger {
  display: none;
}

.activeNav {
  left: -100%;
}

@media (max-width: 600px) {
  .listLink {
    background: #3310fd;
    width: 100vw;
    height: 100vh;

    top: 0;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    z-index: 50;

    transition: all 0.5s ease-in-out;
  }
  .link {
    font-size: 2rem;
  }

  .btnHamburger {
    transform: rotate(90deg);
    display: block;
    font-size: 5rem;
    color: white;
  }
  .title {
    font-size: 3rem;
  }
}
