.containerContact {
  width: 90%;
  min-height: 200px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.containerBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: gray;
  gap: 20px;
}

.bar {
  width: 30px;
  height: 1px;
  background: red;
}

.titleH4 {
  font-size: 2.4rem;
  color: white;
}

.titleH2 {
  font-size: 2.4rem;
  color: red;
}

.text {
  font-size: 1.6rem;
  color: gray;
}

.row {
  color: white;
  font-size: 1.4rem;
}

.linkA {
  color: red;
  font-size: 1.4rem;
  margin: 0 10px;
}
