.containerContact {
  width: 100%;
  min-height: 200px;
  margin: 100px auto;

  padding: 5%;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.containerBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: gray;
  gap: 20px;
}

.bar {
  width: 30px;
  height: 1px;
  background: red;
}

.titleH4 {
  font-size: 4rem;
  color: white;
}

.titleH2 {
  font-size: 2.4rem;
  color: #7bff00;
}

.text {
  font-size: 2rem;
  color: white;
}

.row {
  color: white;
  font-size: 1.4rem;
  background: rgba(255, 255, 255, 0.1);

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.linkA {
  color: red;
  font-size: 1.4rem;
  margin: 0 10px;
}
